{% extends 'bootstrap/base.html' %}
{% block styles %}
    <style>
        .red{
            color: red;
        }
        .bule{
            color: blue;
        }
    </style>
{% endblock %}

{% block content %}
<table border="1">
    <tr>
    <th>name</th>
    <th>age</th>
    <th>love</th>
    </tr>
    <tr>
    <td>lbsystem</td>
    <td>18</td>
    <td>python</td>
    </tr>
</table>
    <button id="btn1">asdfasdfas</button>
{% if app_login %}
    <h1 class="red">11</h1>
    {% else %}
    <h1 style="color:blue ">11</h1>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
    let ll={{ app_login }}

            $("#btn1").click(()=> {
                console.log("fasdf")
                $("h1").toggleClass("bule")
            } )


    </script>

{% endblock %}