<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{ item.name}}</h1>
<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="">
    <input type="submit" value="upload">

</form>

</body>
<script src="/static/js/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script>
<script>

    let put1= function put(){
        let name=$('#inp1').val()
        let formData= new FormData()
        let hash=sha1(name)
        name=encode(name)
        formData.append("src",name)
        formData.append("hash",hash)
        fetch("/",{
            method:"post",
            body:formData
        }).then((res)=>res.json()
        ).then(res=>
                dis(res)
        )
    }

    function dis(res){
        $('#img_1').attr('src',`/static/img/${res.code}.jpg`)
        $('#h1_1').text(res.code)
          de_aes(res.encode)
    }
</script>
<script>
        function encode(data){
        var str=data
        var key  = "1111111111111111"
        var iv = "1111111111111111"
        key=CryptoJS.enc.Utf8.parse(key)
        iv=CryptoJS.enc.Utf8.parse(iv)
        var enctxt=CryptoJS.AES.encrypt(str,key,{
            iv:iv,
            mode:CryptoJS.mode.CBC,
            padding:CryptoJS.pad.Pkcs7
        });
        console.log("toString",enctxt.toString())
        return enctxt.toString()
    }
    function de_aes(data){
        console.log(typeof (data))
        console.log("data",data)
        let str=data
        let key  = "1111111111111111"
        let iv = "1111111111111111"

        key=CryptoJS.enc.Utf8.parse(key)
        iv=CryptoJS.enc.Utf8.parse(iv)
        let de_enctxt=CryptoJS.AES.decrypt(str,key,{
           iv:iv,
           mode:CryptoJS.mode.CBC,
           padding:CryptoJS.pad.Pkcs7,
        }
        );
        let str5=de_enctxt.toString(CryptoJS.enc.Utf8)
        console.log("de..........",str5.toString())
         return str5.toString()
    }
    let test_json_encrypto={
            name:"lbsystem",
            age:18
    }
    let json_str=JSON.stringify(test_json_encrypto)
    let en_str=encode(json_str)
    let  de_str=de_aes(en_str)

    re_to_json=$.parseJSON(de_str)
        console.log(typeof (re_to_json))
        console.log(re_to_json)
</script>
</html>