<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<script>
    if(scrollTop + windowHeight === scrollHeight){
        let body=document.querySelector(".body")
        let div=document.querySelector(".box")
        let div1=document.createElement("div")
        div1.setAttribute("class","myDiv")


        if(p<6){console.log("end")
            document.body.appendChild(div1)
            console.log(p)
            p++}
    }
</script>
</html>